body,
html {
    height: 100%;
    font-family: 'Mukta', sans-serif;
}

.top-banner {
    background-image: url(images/donation3.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}

.link-button {
    text-decoration: none;
    background-color: rgb(255, 110, 80);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.amount-box {
    text-underline-offset: 0px, 0px, 40px, 0px;
}

div {
    display: flex;
}

.fith-width {
    width: 20%;
    padding: 5%;
}