body,
html {
    height: 90%;
    font-family: 'Mukta', sans-serif;
    text-align: center;
}

.top-banner {
    color: white;
    text-align: center;
    padding: 50px 30px 20px 30px;
    font-size: 25px;
    background-image: url(images/donation13.jpg);
    background-position: center;
    background-size: cover;
    height: 90%;
}

.link-button {
    text-decoration: none;
    background-color: rgb(255, 110, 80);
    padding: 10px 40px;
    border-radius: 5px;
    color: rgb(185, 170, 170);
    font-weight: 700;
}

.flexible-container {
    display: flex;
    margin: 120px 100px 120px 100px;
}

.half-width {
    width: 20%;
    padding: 5%;
}

.tk-background {

    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    padding: 30px 30px;
}

.tk-background-single {
    background-color: rgb(255, 238, 238);
    border-radius: 5px;
    padding: 30px 30px;
    color: red;
    border-color: red;
}