body,
html {
    height: 90%;
    font-family: 'Mukta', sans-serif;
    text-align: center;
}

.section {
    padding: 30px 0px;
}

.top-banner {
    color: white;
    font-size: 30px;
    padding: 20px;
    background-image: url(images/donation13.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-color: rgb(255, 110, 80);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.flexible-container {
    display: flex;
}

.lives-donation {
    width: 50%;
    padding: 5%;
}

.lives-donation img {
    width: 100%;
}

.amount-width {
    width: 20%;
    padding: 5%;
}

.icon-width {
    width: 30%;
    padding: 6%;
}

.tk-background {

    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    padding: 30px 30px;
}

.tk-background-single {
    background-color: rgb(255, 238, 238);
    border-radius: 5px;
    padding: 30px 30px;
    color: red;
    border: solid;
    border-color: red;
}

.amount-box {
    text-decoration: solid;
    color: rgb(145, 145, 145);
    padding-bottom: 20px;
    border: solid;
    padding: 30px 100px;
}

.icon-part-1 {
    background-color: rgb(237, 245, 246)
}

.icon-part-2 {
    background-color: rgb(255, 238, 238);
}

.icon-part-3 {
    background-color: rgb(255, 244, 214);
}

.updates-area {
    padding: 100px 80px;

}

.mail-box {
    background-color: rgb(255, 244, 214);
    padding: 60px 250px;
    border-radius: 5px;

}

.visuallyhidden {
    background-color: rgb(255, 110, 80);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.footer-area {
    background-color: rgb(11, 13, 23);
    padding: 10px;
}

.footer-decoration {
    color: rgb(255, 89, 89);

}